
  <!-- header section selector -->
  <app-header></app-header>
  <!-- header section selector -->

  <div class="page-container">
    <!-- sidebar section selector -->
    <app-sidebar></app-sidebar>
    <!-- sidebar section selector -->
    <div class="page-content-wrapper">
      <div class="page-content">
        <!-- Different Page Render section selector -->
        <router-outlet></router-outlet>
        <!-- Different Page Render section selector -->
      </div>
    </div>
  </div>
  <app-footer></app-footer>

