<h3 class="page-title">
  INSERT BUYER <small>Informations</small>
</h3>
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a href="@">Settings</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a href="#">Add Buyer</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <!-- <li>
      <a href="#">Style Information</a>
    </li> -->
  </ul>
  <div class="page-toolbar">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown"
        data-hover="dropdown" data-delay="1000" data-close-others="true">
        Actions <i class="fa fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li>
          <a href="#">Action</a>
        </li>
        <li>
          <a href="#">Another action</a>
        </li>
        <li>
          <a href="#">Something else here</a>
        </li>
        <li class="divider">
        </li>
        <li>
          <a href="#">Separated link</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- END PAGE HEADER-->
<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-equalizer font-blue-hoki"></i>
      <span class="caption-subject font-blue-hoki bold uppercase">ADD BUYER</span>
    </div>
    <div class="tools">
      <a href="" class="collapse">
      </a>
      <a href="#portlet-config" data-toggle="modal" class="config">
      </a>
      <a href="" class="reload">
      </a>
      <a href="" class="remove">
      </a>
    </div>
  </div>
  <div class="portlet-body form">
    <!-- BEGIN FORM-->
    <form action="#" class="horizontal-form">
      <div class="form-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">BUYER</label>
              <input [(ngModel)]="buyerDatas.name" name="name" type="text" id="name" class="form-control" placeholder="Enter Buyer Name">
              <!-- <span class="help-block">
              This is inline help </span> -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">ADDRESS</label>
              <input [(ngModel)]="buyerDatas.address" name="address" type="text" id="address" class="form-control" placeholder="Enter Buyer Address">
              <!-- <span class="help-block">
              This is inline help </span> -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">E-MAIL</label>
              <input [(ngModel)]="buyerDatas.email" name="email" type="text" id="email" class="form-control" placeholder="Enter Buyer Email">
              <!-- <span class="help-block">
              This is inline help </span> -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Contact Person</label>
              <input [(ngModel)]="buyerDatas.contactPerson" name="contactPerson" type="text" id="contactPerson" class="form-control" placeholder="Enter Buyer Address">
              <!-- <span class="help-block">
              This is inline help </span> -->
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Country</label>
              <select [(ngModel)]="countryDatas.countryId"  name = "countryId" class="select2_category form-control" tabindex="1">
                <option value="0">--Select--</option>
                <option *ngFor="let country of countryDatas" value= {{country.id}}>
                  {{country.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">City</label>
              <select [(ngModel)]="buyerDatas.cityId" name = "cityId" class="select2_category form-control" tabindex="1">
                <option value="0">--Select--</option>
                <option *ngFor="let state of cityDatas " value= {{state.id}}>{{state.name}}</option>
              </select>
            </div>
          </div>

        </div>
      </div>
      <div class="form-actions right">
        <button type="button" class="btn default">Cancel</button>
        <button (click) = userBuyer() type="submit" class="btn blue"><i class="fa fa-check"></i> Save</button>
      </div>
    </form>
    <!-- END FORM-->
  </div>
</div>
